<h1>About Us</h1>

<p>VANMosaic, a dynamic photo-sharing website, is the brainchild of four college students passionate <br><br>
    about capturing and sharing moments. Developed as a collaborative project during a full stack <br><br>
    coding bootcamp at KU, VANMosaic boasts a sleek and user-friendly interface, designed with a modern <br><br>
    aesthetic that allows users to curate their profiles, and effortlessly share moments that matter most. <br><br>
    Built on a foundation of passion for creativity, VANMosaic is more than just a photo-sharing website;<br><br> 
    it's a viusal storytelling hub and community that with every photo tells a unique story. <br><br><br><br>
    The creators of VANMosaic are Amanda Norris, Maya Hernandez, Vanessa Dusin, and Nate McMahon. </p>