<h1>About Us</h1>

<p>VANMosaic is an image sharing site created by students during a full stack coding bootcamp from KU. <br><br>The authors are Vanessa Dusin, Amanda Norris, Maya Hernandez and Nate McMahon. </p>