<h1>Contact Us</h1>

<p>Check out the <a href="https://github.com/natemcmahon/VANMosaic">VANMosaic GitHub!</a></p>

<p>Get to know the creators and their work!</p>
<a href="https://github.com/natemcmahon" target="_blank">Visit Nate's GitHub</a><br><br>
<a href="https://github.com/MayaH2000" target="_blank">Visit Maya's GitHub</a><br><br>
<a href="https://github.com/whimsically" target="_blank">Visit Amanda's GitHub</a><br><br>
<a href="https://github.com/vdusin" target="_blank">Visit Vanessa's GitHub</a><br><br>