<h2>Welcome, {{username}}!</h2>
<br>
<form action='/api/posts/' method="post" enctype="multipart/form-data">
    <h3>Post a New Photo!</h3>
    <label for "file">Choose a File:</label>
    <input type="file" accept="image/*" id="file" name="file">
    <button>Submit</button>
</form>

<script src="./js/post.js"></script>