<h2>Welcome, {{username}}!</h2>
<br>
<form action='/api/posts/' method="post" enctype="multipart/form-data">
    <h3>Post a New Photo!</h3>
    <label for "file">Choose a File:</label>
    <input type="file" accept="image/*" id="file" name="file">
    <button>Submit</button>
</form>

{{#if photos.length}}
<h2>Your Photos</h2>
<div class="photo-grid">
    {{#each photos as |photo|}}
    <div class="photo-grid-item">
        <a href='/{{photo.id}}'><img src={{photo.photo_data}} alt="user posted image"></a>
    </div>
    {{/each}}
</div>
{{/if}}
<script src="./js/post.js"></script>